.App {
  text-align: center;
  /* background-color: black; */
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/101.jpg");
  background-repeat: no-repeat;
  padding: 0%;
}

/* #282c34 */


.mask{
  background-color: rgba(0, 0, 0, 0.5)
}
